# ignore executable files I don't need them
**10-linked_lists.c
**main.c
**cycle
0x01-python-if_else_loops_functions/linked_lists.c
0x01-python-if_else_loops_functions/insert
**__pycache__
**main.py
0x03-python-data_structures/linked_lists.c
**interview*/
**.json
./0x0C-python-almost_a_circle/practice.py
**.csv
**main.js
**node_modules/